@keyframes slide-in-left {
    0% {
              transform: translateX(-1000px);
               opacity: 0;
    }
    100% {
              transform: translateX(0);
              opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
              transform: scale(0);
              opacity: 1;
    }
    100% {
              transform: scale(1);
               opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
              transform: rotateX(-100deg);
              transform-origin: top;
              opacity: 0;
    }
    100% {
              transform: rotateX(0deg);
              transform-origin: top;
              opacity: 1;
    }
  }

  #team-card {
    display: flex;
    flex-flow: column;
}

.team-row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.team-row > * {
    box-shadow: 2px 3px 11px 0px rgb(255 199 213);
    border-radius: 24px;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#team-img{
    max-width:250px;
}
#team-img-work{
    margin-left: auto;
    margin-right: auto;
}
#team-main-head{
    font-weight: 900;
    color:#db1d4b;
}
#team-main-head-animate{
    font-weight: 900;
    color:#db1d4b;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#team-p-animate{
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
h4{
    font-weight: 700;
    color:#263238;
    text-align: center;
}
p{
    text-align: center;
}
a{
    color:#db1d4b;
    margin-left: 10px;
}
a:hover{
    text-decoration: none;
    color:#db1d4b;
}
#team-nick{
    text-align: center;
    font-size: 11px;
}

#team-base-img{
    max-width: 280px;
}
#team-base-img-animate{
    max-width: 280px;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
 @media screen and (max-width:375px){
    #image-container1{
        
        max-width:250px;
        
    }
    #image-container1-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container2{
        
        max-width:250px;
        
    }
    #image-container2-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container3{
        
        max-width:250px;
        
    }
    #image-container3-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container4{
        
        max-width:250px;
        
    }
    #image-container4-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container5{
        
        max-width:250px;
        
    }
    #image-container5-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container6{
        
        max-width:250px;
        
    }
    #image-container6-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container7{
        
        max-width:250px;
        
    }
    #image-container7-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container8{
        
        max-width:250px;
        
    }
    #image-container8-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }  
    #image-container9{
        
        max-width:250px;
        
    }
    #image-container9-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
 }
 @media screen and (min-width:376px) and (max-width:767px){
    #image-container1{
        
        max-width:250px;
        
    }
    #image-container1-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container2{
        
        max-width:250px;
        
    }
    #image-container2-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container3{
        
        max-width:250px;
        
    }
    #image-container3-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container4{
        
        max-width:250px;
        
    }
    #image-container4-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container5{
        
        max-width:250px;
        
    }
    #image-container5-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container6{
        
        max-width:250px;
        
    }
    #image-container6-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container7{
        
        max-width:250px;
        
    }
    #image-container7-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
    #image-container8{
        
        max-width:250px;
        
    }
    #image-container8-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }  
    #image-container9{
        
        max-width:250px;
        
    }
    #image-container9-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

 }
@media screen and (min-width:768px) and (max-width:991px){
   
    #image-container1{
        
        max-width:250px;
        
    }
    #image-container1-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container2{
        
        max-width:250px;
        
    }
    #image-container2-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container3{
        
        max-width:250px;
        
    }
    #image-container3-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container4{
        
        max-width:250px;
        
    }
    #image-container4-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container5{
        
        max-width:250px;
        
    }
    #image-container5-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container6{
        
        max-width:250px;
        
    }
    #image-container6-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container7{
        
        max-width:250px;
        
    }
    #image-container7-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container8{
        
        max-width:250px;
        
    }
    #image-container8-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    } 
    #image-container9{
        
        max-width:250px;
        
    }
    #image-container9-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    } 
}
@media screen and (min-width:992px) and (max-width:1200px){
 
    #image-container1{
        
        max-width:250px;
       
    }
    #image-container1-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container2{
        
        max-width:250px;
        
    }
    #image-container2-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container3{
        
        max-width:250px;
       
    }
    #image-container3-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container4{
        
        max-width:250px;
        
    }
    #image-container4-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container5{
        
        max-width:250px;
       
    }
    #image-container5-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container6{
        
        max-width:250px;
        
    }
    #image-container6-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container7{
        
        max-width:250px;
       
    }
    #image-container7-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
    #image-container8{
        
        max-width:250px;
        
    }
    #image-container8-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container9{
        
        max-width:250px;
       
    }
    #image-container9-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
}
@media screen and (min-width:1200px){
    #image-container1{
        max-width:250px;       
    }
    #image-container1-animate{
        max-width:250px;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
    #image-container2{
        max-width:250px;       
    }
    #image-container2-animate{
        max-width:250px;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container3{
        max-width:250px;
    }
    #image-container3-animate{
        max-width:250px;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container4{
        
        max-width:250px;
        
    }
    #image-container4-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container5{
        
        max-width:250px;
        
    }
    #image-container5-animate{
        
        max-width:250px;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    
    #image-container6{
        
        max-width:250px;
        
    }
    #image-container6-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

    }
    #image-container7{
        
        max-width:250px;
       
    }
    #image-container7-animate{
        
        max-width:250px;
        
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
    #image-container8{
        
        max-width:250px;
        
    }
    #image-container8-animate{
        
        max-width:250px;
       
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    #image-container9{
        
        max-width:250px;
        
    }
    #image-container9-animate{
        
        max-width:250px;
        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }
    
}


{
    /* box-shadow: 2px 3px 11px 0px rgb(255 199 213);
    border-radius: 24px;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}