@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}


.team-header {
    text-align: center;
    font-size: 56px;
    color: #db1d4b;
    font-weight: bold;
    margin-top: 3rem;
}