

*{

    margin:0;
    padding:0;
}
body {
    background: $bg;
    background-color: #000;
    color: #fff;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    height:100%;
    letter-spacing: .5px;
    width: 100%;
}

html {
    height: 100%;
    width: 100%
}



h1,h2,h3,h4,h5,h6 {
    font-family: Cabin,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 35px;
    text-transform: uppercase
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px
}

@media (min-width: 900px) {
    p {
        font-size:20px;
        line-height: 1.6;
        margin: 0 0 30px
    }
}

@media (max-width: 900px) {
    h2 {
        font-size:25px
    }
}




a {
    color: #fb8e00;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #3ed12b
}

section {
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%
}

@media (max-width: 768px){
    .img-logo {
       max-height: 300px;
       
       margin-right:40px;
       margin-left:2%;
       margin-bottom: 20px;;
    }
    .aboutteam{
        text-align: center;
        margin-right: 30px;
    }
}
@media (max-width: 768px){
    .cusat-logo {
       align-self: center;
       margin-left: 15px;
       margin-bottom: 30px;
    }
}

table {
    margin: 0 auto;
    width: 90%
}

table tr th {
    background: #ddd;
    color: #555;
    font-size: 20px;
    padding: 10px;
    width: 50%
}

table tr td {
    font-size: 20px;
    padding: 15px 10px;
    text-align: left
}

table tr td span {
    display: inline-block;
    min-width: 80px;
    text-align: left
}

table tr:nth-child(odd) td:first-child,table tr:nth-child(odd) td:last-child {
    background: #efefef
}

.clear {
    clear: both
}

.row {
    margin: 0
    width:25%;
}

.light {
    font-weight: 400
}

.btn {
    font-family: Cabin,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding: 8px 25px;
    text-decoration: none;
    text-transform: uppercase
}

.btn-alt {
    background-color: #fb8e00;
    border-color: #3e3e3e;
    color: #fff
}

.btn-alt:hover,.btn-alt:focus {
    background-color: #333;
    color: #fff
}

.btn-success,.btn-success:focus {
    background-color: #fb8e00;
    border-color: #f3dc0b
}

.cta {
    background-color: #fff;
    color: #222;
    padding: 75px 15%
}

.photoset-grid-custom {
    margin-bottom: 50px
}

span.line:after {
    background: #ffde59;
    color: transparent;
    content: ' |';
    display: inline-block;
    height: 100%;
    width: 10px
}

@media (min-width: 960px) {
    .container {
        margin-left:auto;
        margin-right: auto;
        width: 960px !important
    }
    #abt_hs{
        width: 65%;
        margin-left: 25%;
        padding-bottom: 10%;
    }
    #abt-cusat{
        width: 65%;
        margin-left: 25%;
        padding-bottom: 10%;
    }
}



.top-nav-collapse img {
    display: block !important
}

.top-nav-collapse.navbar-custom a {
    color: #fff
}

.navbar-custom {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-family: Cabin,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.navbar-custom .navbar-brand {
    font-weight: 700
}

.navbar-custom .navbar-brand img {

    margin-top: -20px
}

.navbar-custom .navbar-brand span {
    color: #fb8e00
}

.navbar-custom .navbar-brand .navbar-toggle {
    color: #fff;
    font-size: 16px;
    padding: 4px 6px
}
.navbar-toggler-icon{
  color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0
}

.navbar-custom a {
    color: rgb(0, 0, 0);
    text-decoration: none
}

.navbar-custom a#b {
    color: rgb(255, 255, 255);
    text-decoration: none
}

.special-size {
    width : 85%;
}
.already-big-sponsors {
    width : 45%;
}

.navbar-custom .nav .active {
    background-color: rgba(0,0,0,0.3);
    outline: none
}

.navbar-custom .nav .active a {
    color: #fb8e00
}

.navbar-custom .nav li a {
    -moz-transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-decoration: none
}

.navbar-custom .nav li a:hover {
    background-color: rgba(0,0,0,0.3)
}

.navbar-custom .nav li a:focus {
    background-color: transparent
}

@media (min-width: 767px) {
    .navbar {
        background:0 0;
        border-bottom: 0;
        letter-spacing: 1px;
        padding: 20px 0;
        -moz-transition: background .3s ease-in-out,padding .1s ease-in-out;
        -webkit-transition: background .3s ease-in-out,padding .1s ease-in-out;
        transition: background .3s ease-in-out,padding .1s ease-in-out
    }

    .navbar-custom.top-nav-collapse {
        background-color: #000;
        border-bottom: 1px solid rgba(255,255,255,0.3)
    }
    #abt_hs{
        width: 60%;
    }
}

@media (max-width: 1024px) {
    #mlh-trust-badge {
        margin-right:20px
    }

    .navbar-custom {
        background-color: #000
    }

    .navbar-custom a {
        color: #fff !important
    }

    .navbar-custom .navbar-brand img {
        display: block !important;
        margin-top: -16px
    }
}

.intro {
    background-color: #fff;
    background-image: url("img/rover4.jpg");
    background-size: cover;
    color: #fff;
    display: table;
    height: 80%;
    position: relative;
    text-align: center;
    width: 100%
}

.prize-sponsors {
    width: 60%;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: middle
    /*text-align : center;*/
    /*justify-content: center;*/
}

.intro .intro-body img#cover-image {
    width: 60%
}

.intro .intro-body .brand-heading {
    font-size: 40px
}

.intro .intro-body .intro-text {
    border-radius: 25px;
    color: #000;
    font-size: 18px;
    font-weight: bold
}

.intro .intro-body .intro-text u {
    border-bottom: 3px groove #fff;
    color: #ee9a14;
    padding-bottom: 2px;
    text-decoration: none
}

.intro .intro-body .intro-date {
    font-size: 95%
}

.intro .intro-body .intro-venue {
    /* background-color: rgba(255,255,255,0.82); */
    border-radius: 2px;
    color: black;
    /* background: rgb(250, 250, 250); */
    display: block;
    font-size: 20px;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-decoration: none;
    width: 30%;
}

.intro .intro-body .intro-buttons {
    padding-top: 15px
}

.intro .intro-body .intro-buttons a {
    margin: 10px
}

@media (min-width: 900px) {
    .intro {
        height:100%;
        padding: 0
    }

    .intro .intro-body .brand-heading {
        font-size: 100px
    }

    .intro .intro-body .intro-text {
        font-size: 21px;
        padding: 0 150px
    }
}

@media (max-width: 900px) {
    .intro .intro-body img {
        /*padding-top:50px;*/
        width: 100%;
    }

    .intro .intro-body .intro-buttons {
        padding-top: 0
    }

    .intro .intro-body .intro-venue {
        width: 55%
    }
}

footer {
    background: url("img/hacknotts_2016_0_blurry.jpg");
    background-position: center
}

footer a {
    color: #fff
}

footer p {
    margin-top: 10px
}

footer h3 {
    line-height: 120%;
    margin: 0 auto;
    text-shadow: 0 4px 0 rgba(0,0,0,0.1);
    text-transform: uppercase;
    width: 50%
}

footer .container {
    padding: 100px 0 0
}
a.code-of-conduct {
    margin-bottom: 50px;
}
footer .copy {
    font-size: 80%;
    margin-top: 50px
}

footer a:hover {
    color: rgb(255, 209, 6)
}

footer .social {
    font-size: 40px;
    margin-bottom: 50px;
    padding-left: inherit;
}

footer .social li {
    display: inline-block;
    padding: 15px
}

@media (max-width: 900px) {
    footer .social {
        font-size: 40px;
    }

    footer .container {
        padding: 0
    }

    footer .copy {
        font-size: 13px;
        line-height: 1.8;
        padding: 0 50px
    }

    footer .quotes {
        display: none
    }
}

a.image:hover {
    opacity: .8
}

.image img {
    display: block;
    width: 100%
}

.image.fit {
    display: block;
    width: 100%
    /*text-align:center;*/
    /*margin-left: 50px;*/
    padding-left:10%;
}

.\34 u,.\34 u\$ {
    clear: none;
    margin-left: 0;
    padding: 25px 0 0 25px;
    position: relative;
    width: 30%;
}

.push_4u {
    left: 33.3333333333%

}

.pushlow_4u {
    left: 16.666666666%
}

.sponsors {
}

.sponsors .row {
    border-bottom: solid 1px transparent;
    margin-left: -12px
}

.sponsors .row>* {
    float: left
}

.sponsors h2 {
    padding: 20px
}

h3.prize {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left
}

.sponsor,.mlh {
    display: inline-block;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease
}

.sponsor {
    margin-bottom: 20px;
    margin-right: 20px
}

.sponsor img {
    height: 100px;
    width: auto
}

.mlh img {
    height: 100px;
    width: 375px
}

.mlh:hover,.sponsor:hover {
    opacity: .75
}

.img-fluid{
    width: 275px;
    height: 275px;
    margin-bottom: 6px;
}

@media (max-width: 768px){
    .gallery{
        display: none;
    }
    .img-fluid {
       align-self: center;
       margin-left: 46px;
       margin-bottom: 3px;

    }
}
#video-play{
    position: relative ;
    min-height: 200px;
    
    background-attachment: fixed;
    background-repeat: none;
    text-align: center;
    background-position: 0,-300px;
    color: #fff;
  }
  #video-play a{
    color: #fff;
  }

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
  color: #ee9a14;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
  color: #ee9a14;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #fb8e00;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 275px;
  height: 275px;
  margin-left:72px;
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
     align-items: center; 
      display: none;   
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel{
        display: block;
    }
    #quote-carousel .carousel-indicators {
        bottom: -10px !important; 
        color: #fb8e00; 
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
    .carousel-image {
        
    }
}
@media (min-width: 768px) {
    #showcase{
      ;
        display: none;
    }
}
@media (max-width: 768px){
    #showcase{
        align-items: center;
        display: block;
    }
}


.team {
    padding: 3.5em 0
}

.team .row {
    border-bottom: solid 1px transparent;
    margin-left: -12px

}

.team .row>* {
    float: left


}

.team h2 {
    padding: 20px
}

.teamMember img {
    border-radius: 0.5em;

}

.teamMember {
    border: 2px;
    border-color: #fb8e00;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    flex-basis: 25%;



}

.teamMember img {
    height: auto;
    width: 13.125em
}

.teamMember:hover {
    opacity: .75
}
.push_4u .teamMemberDetails h3 {
    margin-bottom: 1vh
}

.teamMemberDetails h3 {
    margin-bottom: 1vh
}
.push_4u .teamMemberDetails a {
    text-decoration: none;
    float: center;
    /*text-align: center*/
}


.teamMemberDetails a {
    text-decoration: none;
    float: left;
    text-align: left
}

.teamMemberDetails p {
    font-size: 1.2em;
    margin-bottom: 1vh
}

.teamMemberDetails a.twitter i {
    color: #1DA1F2
}

.teamMemberDetails a.linkedin i {
    color: #0077B5
}

.faq-section {
    background: url("assets/img/downloads-bg2.html") no-repeat center center scroll;
    background-color: #000;
    background-position: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    padding: 50px 0;
    width: 100%
}

h3.faq {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: left
}

 @media (max-width:768px){
    #FAQ{
    
    padding-left:5%;
    }
 }


#FAQ .card{
  border: #444;

}
#FAQ a{
  color: #ee9a14;
  text-decoration: none;
}

#FAQ .card-body {
    position: relative;
    padding-bottom: 8px;
}
#FAQ .card-header{
  margin-bottom: -5px;;
}

h2.hack11
{
text-align : center;
padding-top: 2%;
}
p.faq {
    font-size: 15px;
    text-align: left
}



#next:hover{
    background-color: black;
}
.content-section,.content-section2 {
    padding-top: 100px
}

::selection,::-moz-selection {
    background: rgba(255,255,255,0.2);
    text-shadow: none
}

img::selection,img::-moz-selection {
    background: 0 0
}

@media (min-width: 900px) {
    .content-section {
        padding-top:250px
    }

    .content-section2 {
        padding-top: 150px
    }

    .download-section {
        padding: 100px 0
    }
}
img #abt_hs{
    /*transform: translateY(20%);*/
    /*margin-left: -50%;*/
    /*margin-bottom: 10%;*/
    /*margin-top : -5%;*/
    /*size: 25%;*/
    width: 50%;
    height: 50%;
}

#description{
    margin-left: 0%;
}

#abt_cusat{
    height:400px;
    transform: translateY();
}
#banner{
    transform: translateX(-10%);
}

#abt_ksum{
    height:400px;
    transform: translatex(-20%);
}

.teamMembers{
    display: flex;
    justify-content: center;
    transform: translateX(5%);
}

#partner{
    display: flex;
    justify-content: center;
    transform: translateX();
    align-items: center;
}

#spon_row{
    display: flex;
    justify-content:center;
    align-items: center;
}

@media only screen and (max-width: 900px){
    #spon_row{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    #abt_hs{
        transform: translate(7%,3%);
        /*size: 50%;*/
        width: 75%;

    }
    body{
        width:auto;
    }
    html{
        width: auto;
        overflow: hidden;
    }
    nav{
        width: auto;
        z-index: -1;
    }

    html{
        scroll-behavior: smooth;
    }

    #banner{
        transform: translateX(-0%);
    }

    body{
     overflow-x: hidden;
    }


    #abt_cusat{
        transform: translate(-35%,10%);
    }

    #abt_ksum{
        transform: translateX(-40%);
    }

    #description,#faq{
        margin-left: 10%;
        width: auto;
    }

    #partner{
        display: flex;
        justify-content: center;
        transform: translateX(-5%);
    }

    #loader-wrapper{
        z-index: 1;
    }
}

html,body{
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
@media only screen and (max-width: 520px){
    .teamMembers{
        display: block;
        margin-left:18% ;
    }
}

dt{
    color:#fb8e00;
}

  .section-pane {
    display:flex;
    align-items: center;
    justify-content: center;
}

.section-content {
    width: 80%;
    padding: 50px;
}
@media screen and (max-width: 1000px) {

    .section-content { width: 100% }

}

.tracks-page {
    padding-top:80px;
    background-color: #ffffff;
    width: 100%;
}

.icon {
    float: left;
}

.track-icons {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.track {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
}

.track div {
    position: absolute;
    top: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: DINWeb, sans-serif!important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.track:hover div {
    height: 150px;
    width: 200px;
    visibility: visible;
    opacity: 1;
}

#track_head{
    position: relative;top:80px;
}
@media screen and (max-width: 991px){
    #track_head{
        position: relative;
        top:500px;
    }
}

#tracks{
    margin-bottom:-10%;
    position:relative;
    top:-10%;
    padding-top: 0;
    padding-bottom:0;
    width:100%;

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #090707;
  }

  .dank-ass-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dank-ass-loader .row {
    display: flex;
  }

  .arrow {
    width: 0;
    height: 0;
    margin: 0 -6px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 21.6px solid #fd7000;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
    -webkit-filter: drop-shadow(0 0 18px #fd7000);
            filter: drop-shadow(0 0 18px #fd7000);
  }
  .arrow.down {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .arrow.outer-1 {
    -webkit-animation-delay: -0.0555555556s;
            animation-delay: -0.0555555556s;
  }
  .arrow.outer-2 {
    -webkit-animation-delay: -0.1111111111s;
            animation-delay: -0.1111111111s;
  }
  .arrow.outer-3 {
    -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
  }
  .arrow.outer-4 {
    -webkit-animation-delay: -0.2222222222s;
            animation-delay: -0.2222222222s;
  }
  .arrow.outer-5 {
    -webkit-animation-delay: -0.2777777778s;
            animation-delay: -0.2777777778s;
  }
  .arrow.outer-6 {
    -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
  }
  .arrow.outer-7 {
    -webkit-animation-delay: -0.3888888889s;
            animation-delay: -0.3888888889s;
  }
  .arrow.outer-8 {
    -webkit-animation-delay: -0.4444444444s;
            animation-delay: -0.4444444444s;
  }
  .arrow.outer-9 {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .arrow.outer-10 {
    -webkit-animation-delay: -0.5555555556s;
            animation-delay: -0.5555555556s;
  }
  .arrow.outer-11 {
    -webkit-animation-delay: -0.6111111111s;
            animation-delay: -0.6111111111s;
  }
  .arrow.outer-12 {
    -webkit-animation-delay: -0.6666666667s;
            animation-delay: -0.6666666667s;
  }
  .arrow.outer-13 {
    -webkit-animation-delay: -0.7222222222s;
            animation-delay: -0.7222222222s;
  }
  .arrow.outer-14 {
    -webkit-animation-delay: -0.7777777778s;
            animation-delay: -0.7777777778s;
  }
  .arrow.outer-15 {
    -webkit-animation-delay: -0.8333333333s;
            animation-delay: -0.8333333333s;
  }
  .arrow.outer-16 {
    -webkit-animation-delay: -0.8888888889s;
            animation-delay: -0.8888888889s;
  }
  .arrow.outer-17 {
    -webkit-animation-delay: -0.9444444444s;
            animation-delay: -0.9444444444s;
  }
  .arrow.outer-18 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  .arrow.inner-1 {
    -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
  }
  .arrow.inner-2 {
    -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
  }
  .arrow.inner-3 {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .arrow.inner-4 {
    -webkit-animation-delay: -0.6666666667s;
            animation-delay: -0.6666666667s;
  }
  .arrow.inner-5 {
    -webkit-animation-delay: -0.8333333333s;
            animation-delay: -0.8333333333s;
  }
  .arrow.inner-6 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 0.1;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0.1;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }


  @media screen and (max-width: 1025px) and (min-width: 786px){
    #banner{
        transform: translateX(3%);
    }

    #abt_cusat{
        transform: translatex(-40%);
    }

    #abt_ksum{
        transform: translateX(-40%);
    }

    #tracks{
        transform: translateX(-10%);
       }

    html{
        max-width: 100%;
        overflow-x: hidden;
    }


    }

.cusat-prize-sponsors{
    transform: scale(0.5,0.5);
}

#sponsor_block{
    display: flex;
    justify-content: center;
    align-items: center;
}

#partner_row{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-2%);
    padding-bottom: 0%;
    margin-top:-10%;
}

#community_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-sponsors{
    transform: scale(1.5,1.5);
}

@media screen and (max-width: 600px){

    .already-big-sponsors{
        transform: scale(3,3);
    }

    .prize-sponsors{
        transform: scale(3,3);    }

    .cusat-prize-sponsors{
            transform: scale(1.5,1.5);    }

    .special-size{
        transform: scale(3,3);    }

    .big-sponsors{
        transform: scale(3,3);
    }

    .dsc-special-size{
    transform: scale(2,2);    }

    .matic-logo{
        transform: scale(2,2);
    }

    #sponsor_block{
        display: inline-block;
        align-items:center;
        justify-content: center;
        margin-left: -5%;
    }

    #partner_row{
        display: inline-block;
        align-items:center;
        justify-content: center;
        transform: translateX(0%);
        margin-top:0%;
    }

    #community_row{
        display: inline-block;
        align-items:center;
        justify-content: center;
    }

    #sponsor_block div{
        padding-bottom: 20%;
    }

    #partner_row div{
        padding-bottom: 20%;
    }

    #community_row div{
        padding-bottom: 20%;
    }

}

.why-row{
    width: 150%;
}

#schedule_btn{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right: 30px;
    background-color: #ee9a14;
    border:0;
    border-radius:20px;
    font-size: 24px;
    font-weight: bolder;
}

#next{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right: 40px;
    background-color: #ee9a14;
    border:0;
    border-radius:15px;
    font-size: 20px;
    font-weight: bolder;
}

#a_none{
    color:whitesmoke;
    text-decoration: none;
}
#a_none:hover{
    color: whitesmoke;
}

#agora-logo{
    /*margin-top: -60px; */
    /*margin-bottom: -60px;*/
    transform: scale(0.5);
}

@media screen and (max-width: 450px){
        #agora-logo{
            /*padding-top:20px ;*/
            /*padding-bottom: 10px;*/
            transform: scale(1.5);
        }
        .flex-direction{
        flex-direction:column;
    }
}


.columnp {
  float: left;
  width: 33%;
  padding: 0 10px;
}
@media screen and (max-width: 700px) {
  .columnp {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
* {
	box-sizing: border-box;
}
/* Remove extra left and right margins, due to padding in columns */
.rowp {margin: 0 -5px;
}
.speakerimg{
    border-radius: 25px;
}
/* Clear floats after the columns */
.rowp:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  /* padding: 16px;
  text-align: center;
  background: rgba(37, 36,41, 0.7);
  height: 450px;
  border-radius: 25px;
  overflow:auto;

}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  /* padding: 16px;
  text-align: center;
  background: rgba(239, 199,0, 0.3);
  height: 200px;
  border-radius: 25px;
  overflow:auto; */

}

/* .card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 background: rgba(239, 199,0, 0.2);
  height: 200px;
  border-radius: 25px;
  overflow:auto; */
}

/* .card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  /* padding: 16px;

  text-align: center;
  background: rgba(255, 38,38, 0.3);
  height: 200px;
  border-radius: 25px;
  overflow:auto; */

}

/* .card3:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(255, 38,38, 0.2);
  height: 200px;
  border-radius: 25px;
  overflow:auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background: rgba(37, 36,41, 0.7);
  height: 450px;
  border-radius: 25px;
  overflow:auto;
}   */
.anim {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
}

.anim.animate {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    -o-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
}
.speakerimg{
    border-radius: 25px;
}
#faq h3 {
    -ms-touch-action: none;
    touch-action: none;
    color: #ff5b2b;
    cursor: pointer;
}
