footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom:20px;
  background-color:#e2e2e2 ;
}
footer p {
  margin: 20px 0px auto;
  text-align: center;
}
.contactus{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin:40px auto;
  gap: 4px;
}
.social{
  display:inline-block;
  text-align: center;
  font-size: 1.5em;
}
.last-section {
  padding-top: 30px;
}


