#sponsors {
  text-align: center;
  padding: 1rem 1rem;
  margin: 2rem 0;
}

#sponsors > h1 {
  margin-top: 1rem;
  color: #db1d4b;
  font-weight: 900;
  font-size: 4.5rem;
}


#animsponsors{
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-top: 1rem;
  color: #db1d4b;
  font-weight: 900;
  font-size: calc(1.575rem + 3.9vw);
}

#teqip {
  justify-content: center;
  margin: 1.7rem 0;
}

#teqip-logo {
  width: 25%;
}

#sponsor-names {
  margin: 4rem 0 0;
}

@media (max-width:768px){
  #teqip-logo {
    width: 38%;
  }
  #sponsor-names>div+div {
    margin-top: 1rem;
  }
}